html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: rgb(231, 220, 233);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: block;
  text-align: center;
}

.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 60px;
  text-align: center;
  
}

.pag__box {
  width: 550px;
  height: 100px;

  list-style: none;
  margin: 0;
  padding: 25px;

  border: 2px solid salmon;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pag__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  outline: 1px solid blue;
}

.pag__item:not(:last-child) {
  margin-right: 15px;
}

.pag__btn {
  display: block;

  margin-right: auto;
  margin-left: auto;
  width: 35px;
  height: 35px;
}

.active {
  background-color: orange;
}

.hidden {
  display: none;
}
